@import url('https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker|Press+Start+2P');

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    font-family: "Open Sans", serif;
    background: linear-gradient(to bottom left, #ECE9E6, #ffffff);
}


.main-panel {
    background: linear-gradient(to top right, #076585, #cccccc);

    position: relative;

    display: flex;
    flex-wrap: wrap;

    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;


    border-radius: 0 50px 0 50px;

    width: 50vw;
    height: auto;
    flex-direction:row;

    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);

}


.main-header {
    /*background: linear-gradient(to right, #076585, #cccccc);*/

    color: white;

    width: 100%;

    height: 7%;


    border-radius: 0 50px 0 0;

    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;


    /*margin: 1%;*/
}

.main-header h2 {
    text-align: center;
}

.red-controls {
    /*background: linear-gradient(to bottom, #076585, #cccccc);*/


    width: 15%;


    /*border-radius: 5px;*/
    border-left: 2px solid black;

    /*margin: 1%;*/
}

.blue-controls {
    /*background: linear-gradient(to top, #076585, #cccccc);*/

    width: 15%;

    /*border-radius: 5px;*/


    border-right: 2px solid black;

    /*margin: 1%;*/
}

.game-table-container {
    background: #bdc3c7;

    display: grid;

    grid-template-columns: auto auto auto auto auto auto auto auto auto;

    flex:8 0;

    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    border: 1px solid black;

    /*margin: 1%;*/

}

.main-footer {
    /*background: linear-gradient(to left, #076585, #cccccc);*/

    color: white;

    width: 100%;


    border-radius: 0 0 0 50px;

    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    text-align: center;
    /*margin: 1%;*/
}




/* TABLE */

.game-table-container .cell {
    border: solid 1px black;
    background: linear-gradient(to bottom left, #8D90A1, #bdc3c7);

    position: relative;

    margin: 0;
    padding: 0;

    border-spacing: 0 0;

    height: auto;
    width: auto;
}

.cell.red:not(.robot) {
    background: #d63031;
}

.cell.blue:not(.robot) {
    background: #0984e3;
}

.cell.flag {
    background: #ffeaa7;
}
.cell.flag-blue:after, .cell.flag-red:after {
    display: block;
    width: 100%;
    height: 100%;

    content: "";
}

.cell.flag-blue:after {
    background: url("../images/flag-blue.png") no-repeat center center;
    background-size: 75%;
}

.cell.flag-red:after {
    background: url("../images/flag-red.png") no-repeat center center;
    background-size: 75%;
}

.robot {
    width: 100%;
    height: 100%;

    z-index: 100;

    position: absolute;
    display: block;
}

.robot-blue {
    background: url("../images/robot-chenilles.png") no-repeat center center;
    background-size: 50%;
}

.robot-red {
    background: url("../images/robot-chenilles.png") no-repeat center center;
    background-size: 50%;
}

.robot::after {
    content:"";
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}

.robot-blue::after {
    background: url("../images/robot-corps-bleu.png") no-repeat center center;
    background-size: 75%;
}

.robot-red::after {
    background: url("../images/robot-corps-rouge.png") no-repeat center center;
    background-size: 75%;
}

.east {
    transform: rotate(0deg);
}

.west {
    transform: rotate(180deg);
}

.north {
    transform: rotate(270deg);
}

.south {
    transform: rotate(90deg);
}

/* block */

@keyframes block-animate {
    0% { background-size: 100%; }
    50% { background-size: 120%; }
    100% { background-size: 100%; }
}

.block {
    position: relative;

    width: 100px;
    height: 100px;

    margin: 6% auto;

    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    line-height: 100px;

    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.block.animate {
    animation-name: block-animate;
    animation-duration: 0.5s;
}

.block-red {
    background: url("../images/block-vide-rouge.png");
    background-size: cover;
}

.block-blue {
    background: url("../images/block-vide-bleu.png");
    background-size: cover;
}

/* controls */

img.control-block {
    width: calc(1/15 * 100%);
    height: 60px;
    margin: 1% 1% 3%;
}

img.control-block:not(.hidden) {
    display: inline-block;
}

.control-block:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
}

.dragged-element:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* RED */
.block.red-east {
    font-size: 0;
    background: url("../images/est-rouge.png") center center;
    background-size: cover;
}
.block.red-west {
    font-size: 0;
    background: url("../images/ouest-rouge.png") center center;
    background-size: cover;
}
.block.red-north {
    font-size: 0;
    background: url("../images/nord-rouge.png") center center;
    background-size: cover;
}
.block.red-south {
    font-size: 0;
    background: url("../images/sud-rouge.png") center center;
    background-size: cover;
}
.block.red-eastx2 {
    font-size: 0;
    background: url("../images/est-x2-rouge.png") center center;
    background-size: cover;
}
.block.red-take {
    font-size: 0;
    background: url("../images/prendre-rouge.png") center center;
    background-size: cover;
}
.block.red-put {
    font-size: 0;
    background: url("../images/deposer-rouge.png") center center;
    background-size: cover;
}
.block.red-push {
    font-size: 0;
    background: url("../images/repousser-rouge.png") center center;
    background-size: cover;
}
.block.red-cancel {
    font-size: 0;
    background: url("../images/annuler-rouge.png") center center;
    background-size: cover;
}
.block.red-x2 {
    font-size: 0;
    background: url("../images/x2-rouge.png") center center;
    background-size: cover;
}
.block.red-pause {
    font-size: 0;
    background: url("../images/pause-rouge.png") center center;
    background-size: cover;
}

/* BLUE */
.block.blue-east {
    font-size: 0;
    background: url("../images/est-bleu.png") center center;
    background-size: cover;
}
.block.blue-west {
    font-size: 0;
    background: url("../images/ouest-bleu.png") center center;
    background-size: cover;
}
.block.blue-north {
    font-size: 0;
    background: url("../images/nord-bleu.png") center center;
    background-size: cover;
}
.block.blue-south {
    font-size: 0;
    background: url("../images/sud-bleu.png") center center;
    background-size: cover;
}
.block.blue-westx2 {
    font-size: 0;
    background: url("../images/ouest-x2-bleu.png") center center;
    background-size: cover;
}
.block.blue-take {
    font-size: 0;
    background: url("../images/prendre-bleu.png") center center;
    background-size: cover;
}
.block.blue-put {
    font-size: 0;
    background: url("../images/deposer-bleu.png") center center;
    background-size: cover;
}
.block.blue-push {
    font-size: 0;
    background: url("../images/repousser-bleu.png") center center;
    background-size: cover;
}
.block.blue-cancel {
    font-size: 0;
    background: url("../images/annuler-bleu.png") center center;
    background-size: cover;
}
.block.blue-x2 {
    font-size: 0;
    background: url("../images/x2-bleu.png") center center;
    background-size: cover;
}
.block.blue-pause {
    font-size: 0;
    background: url("../images/pause-bleu.png") center center;
    background-size: cover;
}

.block-red.hide {
    background: url("../images/block-vide-rouge.png");!important;
    background-size: cover;!important;
}
.block-blue.hide {
    background: url("../images/block-vide-bleu.png");!important;
    background-size: cover;!important;
}

.control-block {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

/* RED */
.control-block.red-east:after {
    background: url("../images/est-rouge.png");
    background-size: cover;
}
.control-block.red-west:after {
    background: url("../images/ouest-rouge.png");
    background-size: cover;
}
.control-block.red-north:after {
    background: url("../images/nord-rouge.png");
    background-size: cover;
}
.control-block.red-south:after {
    background: url("../images/sud-rouge.png");
    background-size: cover;
}
.control-block.red-eastx2:after {
    background: url("../images/est-x2-rouge.png");
    background-size: cover;
}
.control-block.red-take:after {
    background: url("../images/prendre-rouge.png");
    background-size: cover;
}
.control-block.red-put:after {
    background: url("../images/deposer-rouge.png");
    background-size: cover;
}
.control-block.red-push:after {
    background: url("../images/repousser-rouge.png");
    background-size: cover;
}
.control-block.red-cancel:after {
    background: url("../images/annuler-rouge.png");
    background-size: cover;
}
.control-block.red-x2:after {
    background: url("../images/x2-rouge.png");
    background-size: cover;
}
.control-block.red-pause:after {
    background: url("../images/pause-rouge.png");
    background-size: cover;
}

/* BLUE */
.control-block.blue-east:after {
    background: url("../images/est-bleu.png");
    background-size: cover;
}
.control-block.blue-west:after {
    background: url("../images/ouest-bleu.png");
    background-size: cover;
}
.control-block.blue-north:after {
    background: url("../images/nord-bleu.png");
    background-size: cover;
}
.control-block.blue-south:after {
    background: url("../images/sud-bleu.png");
    background-size: cover;
}
.control-block.blue-westx2:after {
    background: url("../images/ouest-x2-bleu.png");
    background-size: cover;
}
.control-block.blue-take:after {
    background: url("../images/prendre-bleu.png");
    background-size: cover;
}
.control-block.blue-put:after {
    background: url("../images/deposer-bleu.png");
    background-size: cover;
}
.control-block.blue-push:after {
    background: url("../images/repousser-bleu.png");
    background-size: cover;
}
.control-block.blue-cancel:after {
    background: url("../images/annuler-bleu.png");
    background-size: cover;
}
.control-block.blue-x2:after {
    background: url("../images/x2-bleu.png");
    background-size: cover;
}
.control-block.blue-pause:after {
    background: url("../images/pause-bleu.png");
    background-size: cover;
}

@keyframes animation-north {
    0% { bottom: 0;}
    100% { bottom:100%; }
}
@keyframes animation-south {
    0% { top: 0;}
    100% { top:100%; }
}
@keyframes animation-east {
    0% { left: 0;}
    100% { left:100%; }
}
@keyframes animation-west {
    0% { right: 0;}
    100% { right:100%; }
}

@keyframes animation-eastx2 {
    0% { left: 0;}
    100% { left:200%; }
}
@keyframes animation-westx2 {
    0% { right: 0;}
    100% { right:200%; }
}

.animate-north {
    position: absolute;
    animation-name: animation-north;
    animation-duration: 1s;
}
.animate-south {
    position: absolute;
    animation-name: animation-south;
    animation-duration: 1s;
}
.animate-east {
    position: absolute;
    animation-name: animation-east;
    animation-duration: 1s;
}
.animate-west {
    position: absolute;
    animation-name: animation-west;
    animation-duration: 1s;
}

.animate-eastx2 {
    position: absolute;
    animation-name: animation-eastx2;
    animation-duration: 1s;
}
.animate-westx2 {
    position: absolute;
    animation-name: animation-westx2;
    animation-duration: 1s;
}


@keyframes emoji-animate {
    0%      { opacity: 0; font-size: 2em}
    15%     { opacity: 0.5; font-size: 2.25em }
    50%     { opacity: 1; font-size: 2.5em }
    85%     { opacity: 0.5; font-size: 2.25em }
    100%    { opacity: 0; font-size: 2em}
}

@keyframes animation-north-bloqued {
    0%  { bottom: 0;}
    50% { bottom:35%; }
    100%  { bottom:0; }
}
@keyframes animation-south-bloqued {
    0%  { top: 0;}
    50% { top:35%; }
    100%  { top:0; }
}
@keyframes animation-east-bloqued {
    0%  { left: 0;}
    50% { left:35%; }
    100%  { left:0; }
}
@keyframes animation-west-bloqued {
    0%  { right: 0;}
    50% { right:35%; }
    100%  { right:0; }
}


.emoji {

    animation-name: emoji-animate;
    animation-duration: 0.5s;

    font-size: 2em;
    font-family: "Press Start 2P", serif;
    transform: rotate(10deg);

    color: white;
    left: 50%;
    bottom: 75%;

    opacity: 0;

    position: absolute;
    z-index: 999;
    display: block;
}

.robot.north.bloqued {
    position: absolute;
    animation-name: animation-north-bloqued;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
}
.robot.south.bloqued {
    position: absolute;
    animation-name: animation-south-bloqued;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
}
.robot.east.bloqued {
    position: absolute;
    animation-name: animation-east-bloqued;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
}
.robot.west.bloqued {
    position: absolute;
    animation-name: animation-west-bloqued;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
}

.hidden {
    display: none;!important;
}

.overlay {
    position: fixed;

    width: 100%;
    height: 100%;

    top : 0;
    left : 0;

    z-index: 9999;
    background: rgba(0,0,0,0.5);

    margin : 0;
    padding: 0;
}

.content {
    background: linear-gradient(to top right, #076585, #cccccc);

    margin: 2% auto;

    width: 60%;
    height: 80%;

    border-radius: 5%;
    border: solid 2px black;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    text-align: center;

    font-size: 2em;

    color : white;
}

@keyframes animation-win {
    0%   { width: 20%; transform: rotate(90deg) }
    5%  { width: 20%; transform: rotate(120deg) }
    15%  { width: 20%; transform: rotate(60deg) }
    20%  { width: 20%; transform: rotate(90deg) }
    25%  { width: 25%; transform: rotate(90deg) }
    30%  { width: 20%; transform: rotate(90deg) }
    35%  { width: 25%; transform: rotate(90deg) }
    40%  { width: 20%; transform: rotate(90deg) }

    55%  { width: 20%; transform: rotate(90deg) }

    60%  { width: 20%; transform: rotate(60deg) }
    65%  { width: 20%; transform: rotate(120deg) }
    70%  { width: 20%; transform: rotate(90deg) }
    75%  { width: 25%; transform: rotate(90deg) }
    80%  { width: 20%; transform: rotate(90deg) }
    85%  { width: 25%; transform: rotate(90deg) }
    90%   { width: 20%; transform: rotate(90deg) }

}

.overlay .content .robot {
    width: 20%;

    animation-name: animation-win;
    animation-duration: 6s;

    animation-iteration-count: infinite;

    display: inline-block;
    position: relative;
    transform: rotate(90deg);
}
